html { 
    overflow-y: scroll; 
}

body { 
    position: absolute; 
}

.wtf-wrapper {
    /* background-color: #f9dfe0; */
    background-image: url(./background.png);
    background-repeat: repeat;
    color: #3d8b7d;
    min-height: 100vh;
    padding: 1.5em;
    text-align: center;
}

h1 {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 2.8em;
    padding: 0.4em 0;
}

h3 {
    font-size: 2em;
    text-transform: capitalize;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 1em 0 0.5em;
}

img {
    height: 30em;
}

.loading {
    height: 10em;
}

form {
    padding: 1.5em 0;
    display: block;
}

.foodPic {
    height: 16em;
    background-image: url(./placeholder.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

button {
    padding: 0.7em 1em;
    margin-top: 1em;
    background-color: #8fbc91;
    border: #8fbc91;
}
